<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Student form</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    
    <body>
        <!-- This form will create a Student object, calling form our model attribute we added
        and named "studentObj", we will then bind the data to our objects variables firstName, lastName-->
        
        
        <!-- When the form is called, it will call our getters from each variable field-->
        <form action="#" th:action="@{processForm}" th:object="${studentObj}" > 
            
            First name: <input type="text" th:field="*{firstName}"/>
            <br/>
            <br/>
            
            Last name: <input type="text" th:field="*{lastName}"/>
            <br/>
            <br/>
            
            <input type="submit"/>
            
        </form>
        <!-- When the form is submitted it will call the setters and set each variable to whatever is input-->
       
        
    </body>
    
    
    
</html>
