<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
                    <div class="movie-table" th:if="${not #lists.isEmpty(list)}">
                        <table>
                            <thead>
                            <tr>
                                <th>URL</th>
                                <th>Title</th>
                                <th>Thumnail</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <!-- The th:remove will remove the template engine from the HTML, making it only HTML-->
                            <tr th:remove="all">
                                <td>123</td>
                                <td>Tasty Goodnees 1</td>
                                <td><a>View</a></td>
                            </tr>
                            <!-- Displays the regular data from out model attribute {recipes} and iterates through. -->
                            <tr th:each="video : ${list}">
                                <td th:text="${video.url}">url</td>
                                <!--<td th:text="${recipe.notes.recipeNotes}">Tasty Goodnees 3</td>-->
                                <td th:text="${video.title}">title</td>
                                <td th:text="${video.thumbnail}">thumbnail</td>
                                <td th:text="${video.description}">description</td>
                            </tr>
                        </table>
                    </div>
    </body>
</html>
