<!DOCTYPE html>
<html>
    <head>
        <title>Customer registration form!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/mainMenuCSS.css" th:href="@{/css/mainMenuCSS.css}" rel="stylesheet"/>
    </head>
    <body>
        
        
        <form action="#" th:action="@{processForm}" th:object="${customerObj}" > 
            Fill out the form. Asterisks(*) are required input fields.
            <br/>
            
            First name: <input type="text" th:field="*{firstName}"/>
            
            <br/>
            <br/>
            
            Last name(*): <input type="text" th:field="*{lastName}"/>
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error" ></span>
            <br/>
            <br/>
            
            
              
            <input type="submit"/>
            
        </form>
        
        
    </body>
</html>
