<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form th:object="${movie}" th:action="@{/movie/movie}" method="post">
             <!-- Hidden input used to update recipe objects, and add values from the Id-->
             <input type="hidden" th:field="*{id}"/>
             <input type="text" th:field="*{title}" placeholder="title"/>
             <input type="text" th:field="*{description}" placeholder="description"/>
             <button type="submit">+</button>
        </form>
        <br>
                <div class="movie-table" th:if="${not #lists.isEmpty(movielist)}">
                        <table>
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <!-- The th:remove will remove the template engine from the HTML, making it only HTML-->
                            <tr th:remove="all">
                                <td>123</td>
                                <td>Tasty Goodnees 1</td>
                                <td><a>View</a></td>
                            </tr>
                            <!-- Displays the regular data from out model attribute {recipes} and iterates through. -->
                            <tr th:each="movie : ${movielist}">
                                <td th:text="${movie.id}">id</td>
                                <!--<td th:text="${recipe.notes.recipeNotes}">Tasty Goodnees 3</td>-->
                                <td th:text="${movie.title}">title</td>
                                <td th:text="${movie.description}">description</td>
                                <td><a href="#" th:href="@{'/movie/update/' + ${movie.id}}">Update</a></td>
                                <td><a href="#" th:href="@{'/movie/delete/' + ${movie.id}}">Delete</a></td>
                            </tr>
                        </table>
                    </div>
    </body>
</html>
