<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/mainMenuCSS.css" th:href="@{/css/mainMenuCSS.css}" rel="stylesheet"/>
    </head>
    <body>
        <div class="header">HelloWorld! - Click here to show our form!<a href="student/showForm">Show Form!</a>
        
        </div>
    </body>
</html>
